<div class ="singlepiece left chrome">
	<div class="chromewindow">
		<div class="topbar">
			<div class="chromebuttons">
				<div class="redbutton"></div>
				<div class="yellowbutton"></div>
				<div class="greenbutton"></div>
			</div>
		</div>
		<a href="http://www.allinanalytics.com/" target="_blank"><img class="portfolio" src="../images/allin.png" alt="All In Analytics portfolio piece" /></a>
	</div>
</div>
<div class="portfoliodesc.chrome.right">
<h2>All In Analytics</h2>
<p>Integrated html5 video on the homepage of All In Analytics</p>
<ul>
	<li>Transparent Overlay for Increased Readability</li>
	<li>Fallback to Background Image for Small Screens</li>
</ul>
<a class="btn" href="http://www.allinanalytics.com/" target="_blank">VISIT WEBSITE</a>
</div>

<div class="clear"></div>