<div class="about">About</div>
    <div class="bio">
        <p>I'm a web developer, community-builder and obsessive urbanite.
        </br>
            I love pushing the boundaries of what's possible on the web,
        </br>
            exploring the intersection of tech and civic engagement,
        </br>
            and noming on a delicious cheesesteak. Cheese whiz wit, of course.
        </br>
        </br>
            I help novices become professional software engineers as Community Engagement Manager at <a href="http://www.zipcodewilmington.com" target="_blank">Zip Code Wilmington</a>.
        </br>
    </br>
            I equip women with in-demand tech skills as co-organizer for <a href="https://www.girldevelopit.com/chapters/wilmington" target="_blank">Girl Develop It Wilmington</a>.
        </br>
    </br>
            I empower women to become leaders in their field as co-organizer for <a href="http://elaconf.com/">Ela Conf</a>.
        </br>
    </br>
            You can hire me. Need a website? Get in touch so we can start collaborating on your next project.
        </p>
        <a class="contact btn" href="mailto:dominiquedclarke@gmail.com">CONTACT ME</a>
        <a class="btn" href="{{ "resume" | prepend: site.baseurl }}">View my resume</a>
        <a class="btn" href="{{ "work" | prepend: site.baseurl }}">View my portfolio</a>
    </div>
