<div class="about">About</div>
    <div class="bio">
        <p>I'm a web developer, community-builder and obsessive Philly fan-girl.
        </br>
            I love pushing the boundaries of what's possible on the web,
        </br>
            exploring the intersection of tech and civic engagement,
        </br>
             and noming on a delicious cheesesteak. Cheese whiz wit, of course.
        </br>
        </br>
            I'm also a <a href="http://phillyfellows.org/">Philly Fellow</a>, a University of Pennsylvania alumna, and an organizer for the upcoming <a href="http://elaconf.com/">Ela Conf</a>.
        </br>
            You can hire me. Need a website? Get in touch so we can start collaborating on your next project.
        </p>
    </div>
    <a class="contact btn" href="mailto:dominiquedclarke@gmail.com">CONTACT ME</a>