<div class ="singlepiece left chrome">
	<div class="chromewindow">
		<div class="topbar">
			<div class="chromebuttons">
				<div class="redbutton"></div>
				<div class="yellowbutton"></div>
				<div class="greenbutton"></div>
			</div>
		</div>
		<a href="{{ "" | prepend: site.baseurl }}" target="_blank"><img class="portfolio" src="../images/portfolio.png" alt="DClarke portfolio piece" /></a>
	</div>
</div>
<div class="portfoliodesc right">
<h2>Sublime Mockup</h2>
<p>WordPress Theme Mockup</p>
<ul>
	<li>Initialized with Underscores Starter Theme</li>
	<li>Built with Sass</li>
	<li>Built using Bourbon and Neat</li>
	<li>Fully Responsive</li>
	<li>HTML5 Semantic Markup</li>
	<li>Built using Advanced Custom Fields</li>
	<li>Design Elements pulled from Photoshop mockup</li>
	<li>Custom Contact Form</li>
	<li>Custom Search Button</li>
	<li>JQuery smooth scrolling navagation buttons</li>
	<li>Design mockup only, meant to demonstrate skillset</li>
</ul>
<a class="btn" href="{{ "" | prepend: site.baseurl }}" target="_blank">VISIT WEBSITE</a>
</div>

<div class="clear"></div>