<div class ="singlepiece right chrome">
	<div class="chromewindow">
		<div class="topbar">
			<div class="chromebuttons">
				<div class="redbutton"></div>
				<div class="yellowbutton"></div>
				<div class="greenbutton"></div>
			</div>
		</div>
		<a href="http://dominiqueclarke.github.io/dloot" target="_blank"><img class="portfolio" src="../images/dloot.png" alt="dloot portfolio piece" /></a>
		
	</div>
</div>
<div class="portfoliodesc">
<h2>dloot - Music + Sound for Games</h2>
<p>HTML5/CSS3 website built for a video game music composer and sound designer.</p>
<ul>
	<li>Custom Design</li>
	<li>Semantic Markup</li>
	<li>Custom CSS Twitter Feed</li>
	<li>Embedded Soundcloud Player</li>
	<li>SVG icons</li>
</ul>
<a class="btn" href="http://dominiqueclarke.github.io/dloot" target="_blank">VISIT WEBSITE</a>
</div>
<div class="clear"></div>

