<div class ="singlepiece right chrome">
	<div class="chromewindow">
		<div class="topbar">
			<div class="chromebuttons">
				<div class="redbutton"></div>
				<div class="yellowbutton"></div>
				<div class="greenbutton"></div>
			</div>
		</div>
		<a href="http://laddr-n3rdst.poplar.phl.io/"><img class="portfolio" src="../images/nerd.png" alt="N3rd Street portfolio piece" /></a>
	</div>
</div>
<div class="portfoliodesc">
<h2>N3rd Street Website</h2>
<p>Hackathon project done in 8 hours built on top of Code for Philly's Laddr framework. Responsible for all front-end work.</p>
<ul>
	<li>Integration with JavaScript Slideshow Plugin</li>
	<li>Responsive Event Listing</li>
</ul>

</div>
<div class="clear"></div>