<header class="site-header">

  <div class="container txt-center">

    <nav class="navbar">
      <ul>
        <li><a href="{{ "" | prepend: site.baseurl }}">Home</a></li>
        <li class="divider">&bull;</li>
        <li><a href="{{ "/resume" | prepend: site.baseurl }}">Resume</a></li>
        <!--<li class="divider">&bull;</li>
         don't need this yet <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-feed"></i> feed</a></li> -->
      </ul>
    </nav> 

    <div class="namecontainer">
      <h1 class="name">My Work</h1>
    </div>
  </div>

</header>