<div class="singlepiece left iphone">
	<div class="iphone-body">
		<div class="camera-1"></div>
		<div class="camera-2"></div>
		<div class="iphone-screen">
			<a href="http://uhurufurniturephilly.blogspot.com/"><img class="portfolio" src="../images/uhuru.png" alt="Uhuru Portfolio Piece"/></a>
		</div>	
	</div>
</div>
<div class="portfoliodesc right iphone">
	<h2>Uhuru Furniture Philly Mobile</h2>
	<p>Volunteer project as part of a team of two developing the mobile responsive components of Uhuru Furniture's Website. Responsible for:</p>
	<ul>
		<li>Responsive Flexbox-Based Navbar</li>
		<li>Responsive Footer Links</li>
		<li>Responsive Contact Page with Contact Form</li>
		<li>JQuery Scroll-Top button</li>
	</ul>
	<a class="btn" href="http://uhurufurniturephilly.blogspot.com/" target="_blank">VISIT WEBSITE</a>
</div>
<div class="clear"></div>