//Portfolio pieces
.chromewindow {
	float: right;
    margin: 20px;
    border-radius: 10px;
    width:800px;
    height:auto;

    @media (maxwidth:1000px) {
    	float:none;
    	width:90%;
    	margin:0 auto;
    }
}

.topbar {
	height: 30px;
    border: 1px solid purple;
    border-radius: 5px 5px 0 0;
    background-color:grey;
}

.chromebuttons {
	margin-right: 5px;
}

.redbutton, .yellowbutton, .greenbutton {
	display:inline-block;
	width:8px;
	height:8px;
	border-radius:50%;
}

.redbutton {
	background-color:red;
}

.yellowbutton {
	background-color:yellow;
}

.greenbutton {
	background-color:green;
}

img.portfolio {
	border-radius: 0 0 5px 5px;
}