//Portfolio pieces
.chromewindow {
	float: right;
    margin: 20px;
    border-radius: 10px;
}

.topbar {
	height: 30px;
    border: 1px solid purple;
    border-radius: 5px 5px 0 0;
    background-color:grey;
}

.chromebuttons {
	margin:5px 11px;
}

.redbutton {
	display:inline-block;
	width:8px;
	height:8px;
	background-color:red;
	border-radius:50%;
}

.yellowbutton {
	display:inline-block;
	width:8px;
	height:8px;
	background-color:yellow;
	border-radius:50%;
}