.resumeintro {
	text-align:center;
}

.resumecontainer {
	max-width:60em;
}

.resume h2 {
	margin:1em 0;
}

.resume h2, h3, h4 {
	a {
		color:$purple-color;
	}
}

.resume .post-content ul {
	margin:1em 0;
	li:before {
    	content: '\2022 ';
    	color: $dark-green;
    	padding-right: 0.5em
	}
	p {
		display:inline;
	}
}