---
bodyclass: portfolio
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

  </head>
  <body class="{% if page.bodyclass %}{{ page.bodyclass }}{% endif %}">
  	<div class="page">
	    <main>
		    <div class="container">
		        {% include portfolioheader.html %}
		    </div>
		    <div class="container lg">
		    	<div class="resumeintro">
				<h2>DOMINIQUE CLARKE | JUNIOR FRONT-END DEVELOPER</h2>
				<a class="btn" href="{{ "resume" | prepend: site.baseurl }}">View my resume</a>
				</br>
				<a class="contact btn" href="mailto:dominiquedclarke@gmail.com">CONTACT ME</a>
				</div>
		    	<div class="work">
		        {% include dloot.html    %}
		        {% include uhuru.html    %}
		        {% include nerd.html    %}
		        {% include allin.html   %}
		        {% include blog.html    %}
		    	</div>
		    </div>
		    <div class="container">
		        {% include footer.html %}
		    </div>
	    </main>
    {% include github-corner.html %}
    </div>
  </body>
</html>
