---
bodyclass: resume
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

  </head>
  <body class="{% if page.bodyclass %}{{ page.bodyclass }}{% endif %}">
  	<div class="page">
	    <main>
		    <div class="container">
		        {% include portfolioheader.html %}
		    </div>
			<div class="container lg">
				<div class="post-content">
			    {{ content }}
			  	</div>
		    </div>
		    <div class="container">
		        {% include footer.html %}
		    </div>
	    </main>
    {% include github-corner.html %}
    </div>
  </body>
</html>